<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path("bwrgctofsnrs4qry65te", crop: :fill) %>')">
  <div class="container">
    <h1>Make a movie list</h1>
    <p>And watch your favorites later</p>
  </div>
</div>
<div class="container">
  <%= link_to "Add a new movie list", new_list_path, class: 'btn btn-light my-3' %>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <%= link_to list_path(list) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3),
          rgba(0,0,0,0.3)), url(<%= cl_image_path list.photos.attached? ? cl_image_path(list.photos.first.key) :
          image_path('https://specials-images.forbesimg.com/imageserve/1216239173/960x0.jpg?cropX1=0&cropX2=5000&cropY1=0&cropY2=3333'), crop: :fill %>)">
            <%= list.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
