<div class="container">
  <h1 class="mt-3">Add a new movie list</h1>
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Add List", class: 'btn btn-primary'  %>
  <% end %>

  <%= link_to "Back", root_path, class: 'btn btn-secondary my-5' %>
</div>
